.brand {
    color: var(--main-color);
    font-weight: 600;
}

section {
    margin-bottom: 1.5rem;
}

.lock {
    color: #666;
    background: #eee;
    padding: 1rem 1rem 1rem 1.75rem;
    border-radius: 0.25rem;
}

.order-title {
    font-size: 1.25rem;
    font-weight: 700;
}
.order-title .card-quantity {
    font-size: 1.2rem;
    font-weight: 600;
}

button.main-btn {
    width: 100%;
}

#cart-container {
    max-height: 40vh;
    overflow-x: auto;
    overflow-y: auto;
}
#cart-container::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    height: 6px;
}
#cart-container::-webkit-scrollbar-thumb {
    background: #b9d3e0;
    border-radius: 6px;
}
#cart-container .item .img {
    width: 100%;
}
#cart-container .item .item_info > p {
    margin: 0;
}
#cart-container .item .item_info .name {
    font-size: 1.2rem;
    font-weight: 500;
}

#valueOfCart {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
}

@media only screen and (max-width: 768px) {
    .content_container {
        width: 90%;
        max-width: 532px;
    }

    #cart-container {
        overflow-x: hidden;
    }
}
